# Folders Created after Building
bin/
build/

# Rivet and Yoda files
rivet-plots/
*.yoda

# Shower Time Measuremnts
*.dat

# IDE files
.vscode/

# Any Temporary Results
results-*/

# Plots
test/*.pdf
test/*.png
doc/extra.*.pdf
doc/extra.*.png
doc/extra.*-time.dat

# Any Profiling Results
*.nsys-rep
*.sqlite
profile.log