# Folders Created after Building
bin/
build/

# Rivet and Yoda files
rivet-plots/
*.yoda

# Shower Time Measuremnts
*.dat

# IDE files
.vscode/

# Any Temporary Results
results-*/

# Plots
test/*.pdf

# Any Profiling Results
*.nsys-rep
*.sqlite
profile.log